.containerr {
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* justify-content: center; */
    color: white;
    flex-wrap: wrap;
    /* border: 5px solid black; */
}

.card {
    height: 250px;
    width: 250px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid white;
}

@media only screen and (max-width: 414px) {
    .card {
        height: 200px;
        width: 200px;
    }

    h3 {
        font-size: .8em;
    }
}